## Place this file with property values in ${user.home}/.pdl/ with name application.properties

# Endpoints for security services
ws.endpoint.pdl.checkBlocks=
ws.endpoint.pdl.checkConsent=
ws.endpoint.pdl.checkRelationship=
ws.endpoint.pdl.registerRelationship=
ws.endpoint.pdl.storeLog=
