## Place this file with property values in ${user.home}/.pdl/ with name secure.properties

# Passwords for key stores containing private keys.
# EHR web services SSL-connection
pdl.tjp.keystore.type=pkcs12
pdl.tjp.keystore.name=<your.keystore>.p12
pdl.tjp.keystore.password=<your.store.password>
pdl.tjp.keystore.keypass=<your.key.password>

# Used when client certificates are needed to connect to security services
pdl.tjp.trustcert.name=<your.client.cert>.pem


