<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

<!--
  <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>file:${user.home}/.pdl/application.properties</value>
        <value>file:${user.home}/.pdl/security.properties</value>
        <value>file:${user.home}/.pdl/datasource.properties</value>
      </list>
    </property>
    <property name="ignoreResourceNotFound" value="false"/>
  </bean>
-->

  <context:mbean-export />
  <context:annotation-config />
  <task:annotation-driven />

  <!-- <import resource="classpath*:/service-security.xml"/>-->
  <import resource="classpath*:/service-context.xml"/>
</beans>


