
/* Originall bootstrap callouts */
.pdl .callout {
	border: 1px solid #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 15px 0;
    padding: 15px;
}

.pdl .callout .title {
	font-weight: bold;
}

.pdl .callout p.last,
.pdl .callout p:last-child {
	margin-bottom: 0;
}

.pdl .callout-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.pdl .callout-danger {
    background-color: #f2dede;
    border-color:#ebccd1;
    color: #bd5856;
}

.pdl .callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}

.pdl .callout-action {
	background-color: #fff;
	float: left;
	position: relative;
	padding: 10px;
}

.pdl .callout-action a {
	background: url(../images/icon_arrow_right_blue.png) center right no-repeat;
	line-height: 16px;
	min-height: 16px;
	padding-right: 20px;
	text-decoration: none;
}

.pdl .callout-info.callout-action a {
	background-image: url(../images/icon_arrow_right_blue.png);
	color: #31708f;
}

.pdl .callout-danger.callout-action a {
	background-image: url(../images/icon_arrow_right_red.png);
	color: #bd5856;
}

.pdl .callout-info h4 {
    color: #3a87ad;
}

.pdl ul.infotypes {
    font-family: Ubuntu,Arial,Verdana,Helvetica,sans-serif;
    font-size: 1.4em;
    list-style: none;
    border: 1px solid #c4ced5;
    margin: 20px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.pdl ul.infotypes > li {
    padding: 10px;
    border-bottom: 1px solid #c4ced5;
}

.pdl ul.infotypes > li .callout-action {
	margin: 0;
}

.pdl ul.infotypes > li.active {
    background-color: #eef5fa;
}

.pdl ul.infotypes > li.sublist {
    padding-top: 0px;
}

.pdl ul.infotypes > li a {
	text-decoration: none;
}

.pdl ul.infotypes > li > ul {
    padding-top: 0px;
    font-weight: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pdl ul.infotypes > li > ul li {
    font-size: 0.8em;
    margin: 17px 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4ced5;
}

.pdl ul.infotypes > li > ul > li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pdl ul.infotypes > li:last-child {
    border-bottom: 0px;
}

.pdl i.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
}

.pdl i.unchecked {
    background-image: url('../images/icon_checkbox.png');
    margin-right: 7px;
}

.pdl i.checked {
    background-image: url('../images/icon_checkbox_checked.png');
    margin-right: 7px;
}

.pdl i.arrow_right_blue {
    background-image: url('../images/icon_arrow_right_blue.png');
    float: right;
}

.pdl i.arrow_right_red {
    background-image: url('../images/icon_arrow_right_red.png');
    float: right;
}

.pdl i.arrow_right_warn {
    background-image: url('../images/icon_arrow_right_warn.png');
    float: right;
}

.pdl i.locked {
    background-image: url('../images/icon_padlock.png');
    float: right;
}

.pdl i.unlocked {
    background-image: url('../images/icon_padlock_open.png');
    float: right;
}

.pdl .showCareUnits {
    float: right;
    font-size: 0.85em;
    color: #2f72a9;
    padding-right: 5px;
    text-decoration: none;
}

.pdl .continue {
    float: right;
    font-size: 1em;
    padding-right: 5px;
    text-decoration: none;
}

.pdl .blocked  {
    font-family: Ubuntu,Arial,Verdana,Helvetica,sans-serif;
    background-color: #f2dede;
    color: #bd5856;
    border: 1px solid #ebccd1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

.pdl .blockedInfoTypes {
    font-size: 1.2em;
    padding: 1em;
    margin-top: 1em;
}

.pdl .blockedCareUnit {
    padding: 0.5em;
}

.pdl .blocked a {
    color: #bd5856;
}

.pdl .unlock {
    font-family: Ubuntu,Arial,Verdana,Helvetica,sans-serif;
    background-color: #fcf8e3;
    color: #c09853;
    border: 1px solid #faebcc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0.5em;
    margin-top: 1em;
}

.pdl .unlock a {
    text-decoration: none;
}

.pdl .unlock .link-button-mod {
    font-size: 0.9em;
    padding: 10px 10px;
    margin-top: 1em;
}

.pdl .confirm  {
    font-family: Ubuntu,Arial,Verdana,Helvetica,sans-serif;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 1em;
    margin: 1em 0;

}

.pdl .confirm p.heading {
    font-size: 1.6em;
    color: #7D591B;
}

.pdl .confirm p {
    font-size: 1.2em;
    color: #c09853;
}

.pdl .confirm p a,
.pdl .confirm p a:hover,
.pdl .confirm p a:active {
    color: #c09853;
}

.pdl .confirm p.affirm {
    font-size: 1.3em;
    color: #7D591B; /*#b6383e;*/
}


.pdl .blockedInfoTypes {
    font-size: 1.2em;
    padding: 1em;
    margin-top: 1em;
}

.pdl .blockedCareUnit {
    padding: 0.5em;
}

.pdl .blocked a {
    color: #bd5856;
}

/*------- Link button mod -------*/

.link-button-mod:visited,
.link-button-mod {
    background: #2f6ea1 url('../images/buttons/button-bg-normal.png') top left repeat-x;
    border: 1px solid #29699e;
    border-bottom-color: #245780;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    float: left;
    font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 10px 10px 0;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
}

.link-button-mod:hover {
    border: 1px solid #245780;
    color: #fff;
    text-decoration: none;
}

.link-button-mod:hover,
.link-button-mod:hover span {
    cursor: pointer;
}

.button-simple:visited,
.button-simple:hover,
.button-simple {
    background: #3582c0;
    border: 1px solid #5d98bf;
    padding: 10px 10px;
}

.button-simple-danger:visited,
.button-simple-danger:hover,
.button-simple-danger {
    background: #b6383e;
    border: 1px solid #872220;
    padding: 10px 10px;
}

.button-simple-warn:visited,
.button-simple-warn:hover,
.button-simple-warn {
    background: #cbb85d;
    border: 1px solid #938542;
    padding: 10px 10px;
}

.link-button-mod-danger:visited,
.link-button-mod-danger:hover,
.link-button-mod-danger {
    background: #b6383e url('../images/buttons/button-bg-danger.png') top left repeat-x;
    border: 1px solid #872220;
}

.link-button-mod-proceed:visited,
.link-button-mod-proceed:hover,
.link-button-mod-proceed {
    background: #548332 url('../images/buttons/button-bg-proceed.png') top left repeat-x;
    border: 1px solid #2f4a1c;
}

.link-button-mod-warn:visited,
.link-button-mod-warn:hover,
.link-button-mod-warn {
    background: #cbb85d url('../images/buttons/button-bg-warn.png') top left repeat-x;
    border: 1px solid #938542;
}

/*------- Create Idea portlet -------*/
.pdl > .outcome {
    background-color: #faebcc;
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #a38342;
}

.pdl .intro .element-mandatory-desc {
  font-size: 0.9em;
  font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;

}

.pdl .intro .element-mandatory {
  display: inline-block;
  font-size: 1.3em;
}

.pdl-form {}

.pdl-form fieldset,
.pdl-form fieldset:last-child {
  margin-bottom: 0;
  padding-top: 10px;
  
  padding-top: 0;
}

.pdl h3.legend,
.pdl-form .aui-legend {
  border-bottom: 1px solid #d5e3ee;
  color: #666;
  display:block;
  font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.6em;
  margin: 20px 0 10px 0;
  padding-bottom: 5px;
  width: 100%;
}


/* Clearfix style clearing */
.pdl-form .element-wrap:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.pdl-form .element-wrap{display:inline-block}
* html .pdl-form .element-wrap{height:1%}
.pdl-form .element-wrap{display:block}

.pdl-form {
    margin: 0;
}

.pdl-form .element-wrap {
  max-width: 900px;
  margin: 20px 0;
  width: 100%;
}

.pdl-form .aui-fieldset .aui-field-content,
.pdl-form .aui-field-wrapper-content {
  margin: 0;
}


.pdl-form .element-field-wrap,
.pdl-form .element-field-help,
.pdl-form label,
.pdl-form .element-field {
  display: block;
  float: left;
}

/* Outer */
.pdl-form .element-field-wrap { width: 69.9%; }
.pdl-form .element-field-help { width: 29.9%; }

/* Inner */
.pdl-form label { width: 24.9%; }
.pdl-form .element-field { width: 74.9%; }


.pdl-form label span {
  color: #555;
  display: inline-block;
  font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

.ie7 .pdl-form label span {
  display: inline;
}

/* Needs ie7 fix */
.pdl-form .aui-field input[type="text"],
.pdl-form .aui-field textarea,
.pdl-form .aui-field select,
.pdl-form .aui-field .empty {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0 5%;
  width: 90%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.pdl-form .aui-field textarea {
  min-height: 100px;
}

.pdl-form .element-has-errors .aui-field input[type="text"],
.pdl-form .element-has-errors .aui-field textarea,
.pdl-form .element-has-errors .aui-field select {
  border-color: #f00;
}

.pdl span.element-mandatory {
  color: #af2222;
  font-size: 1.2em;
  font-weight: bold;
}

.pdl span.element-mandatory span {
  font-size: 0;
  text-indent: -9999em;
}

.pdl-form .element-field-help .element-field-help-additional {
    font-size: 0.9em;
}

.pdl-form .aui-button-holder {
  text-align: center;
}

.pdl-form .rp-button input[type="submit"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  float: left;
  font-size: 1.1em;
  padding: 10px 15px;
}

.pdl-form .rp-button-proceed input[type="submit"] {
    background: #548332 url('../images/buttons/button-bg-proceed.png') top left repeat-x;
    border: 1px solid #2f4a1c;
}

.ie7 .pdl-form .rp-button input[type="submit"] {
  display: inline;
}


