#====================================================
# Use for in-memory Postgresql tests
#====================================================
database.driver=org.postgresql.Driver
database.url=jdbc:postgresql://localhost:5432/
hibernate.database.showsql=false
hibernate.vendor.generateDdl=true
hibernate.vendor.databasePlatform=org.hibernate.dialect.PostgreSQLDialect
hibernate.vendor.database=POSTGRESQL

