#====================================================
# Use for in-memory Postgresql tests
#====================================================
database.driver=org.postgresql.Driver
database.jndi=java:comp/env/jdbc/<YourDbPool>
hibernate.database.showsql=false
hibernate.vendor.generateDdl=true
hibernate.vendor.databasePlatform=org.hibernate.dialect.PostgreSQLDialect
hibernate.vendor.database=POSTGRESQL

