## Place this file with property values in ${user.home}/.rp/bfr/ with name secure.properties

# Mawell Zero Footprint
ZFP_HOST=<your.ip.or.domain>
ZFP_HOST_SJUNET=<your.ip.or.domain>

# ZFP ECB
zfp.password=<password.to.access.zfp>
zfp.ecbkey=<ecb.encryption.key>

# Url with encrypted token
# 0 = encrypted key to the end of URL
zfp.url=https://${ZFP_HOST}/ZFP?lights=off&mode=Inbound#pl=
zfp.url.sjunet=https://${ZFP_HOST_SJUNET}/ZFP?lights=off&mode=Inbound#pl=
