.bfr ul {
    list-style: none;
    margin: 0;
}

.bfr ul>li {
    padding: 0.2em;
    float: left;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.bfr .key {
    float: left;
    width: 40%;
    font-weight: bold;
    font-family: Ubuntu,Arial,Verdana,Helvetica,sans-serif;
    font-size: 1.05em;
    color: #666;
}

.bfr .value {
    float: left;
    width: 60%;
}

.ie7 .bfr #referralContainer {
    width: 45%;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
}

.ie7 .bfr #studiesContainer {
    width: 45%;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
}

.ie7 .bfr #showReferral {
    float: left;
    width: 100%;
    border: none;
}

.bfr #showReferral {
    float: left;
    width: 100%;
    border: solid #c4ced5 1px;
}

.bfr #referralContainer {
    width: 45%;
    float:left;
    margin: 0px;
    padding: 1em;
    border-right: solid #c4ced5 1px;
    box-sizing: border-box;
}

.bfr #studiesContainer {
    width: 55%;
    float:left;
    margin-left: -1px;
    padding: 1em;
    border-left: solid #c4ced5 1px;
    box-sizing: border-box;
}

.bfr #studiesContainer ul {
    border-top: solid #c4ced5 1px;
    padding: 1em 0em;
}

.bfr #studiesContainer ul:first-child {
    border-top: none;
    padding: 0 0 1em 0;
}

.bfr #studiesContainer ul:last-child {
    padding-bottom: 0;
}

.bfr h3.legend {
  border-bottom: 1px solid #d5e3ee;
  color: #666;
  display:block;
  font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.6em;
  margin: 20px 0 10px 0;
  padding-bottom: 5px;
  width: 100%;
}

.bfr table {
    font-family: Ubuntu,Arial,Verdana,Helvetica,sans-serif;
    width: 100%;
    border-spacing: 0.5rem;
    border-collapse: collapse;
    border: solid #c4ced5 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.bfr table thead {
    background-color: #eef5fa;
    font-size: 1em;
    font-weight: bold;
}

.bfr table tbody {
   font-family: Ubuntu,Arial,Verdana,Helvetica,sans-serif;
}

.bfr table th {
    border-bottom: solid #c4ced5 1px;
}

.bfr .selected {
    font-weight: bold;
}

.bfr .even {
}

.bfr .odd {
    background-color: #eef5fa;
}


.bfr table th, .bfr table td {
    padding: 1em;
    text-align: left;
}

.bfr i.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
}

.bfr i.link_external {
    background-image: url('../images/icon_link_external.png');
    width: 13px;
    height: 13px;
    margin-left: 6px;
}


/* Original bootstrap callouts */
.bfr .callout {
    border: 1px solid #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 15px 0;
    padding: 15px;
}

.bfr .callout p.last,
.bfr .callout p:last-child {
    margin-bottom: 0;
}

.bfr .callout-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.bfr .callout-danger {
    background-color: #f2dede;
    border-color:#ebccd1;
    color: #bd5856;
}
